<form class="row g-3" action="~/Home/Create_Resume">
    <div class="col-12">
        <h1 class="zagalovki">Онлайн-генератор резюме <font class="gigachat_text">ResumeGen</font> с использованием нейросети</h1>
        <p>Создайте свое резюме с помощью нейросети . Наш инновационный инструмент позволит вам автоматически 
            создавать убедительные и профессиональные резюме, используя алгоритмы машинного обучения.</p>
        <h2>Как это работает?</h2>
        <p>Наш генератор резюме использует глубокие нейронные сети, такие как модель GPT (Generative Pre-trained Transformer), для анализа больших объемов 
            данных резюме из интернета. Он изучает структуру и стиль эффективных резюме, чтобы создавать новые, уникальные и профессиональные резюме,
            имитирующие стиль и содержание лучших образцов.</p>
        <h2>Преимущества использования нашего генератора резюме</h2>
        <ul>
            <li><strong class="highlight">Быстрое создание резюме:</strong> Создайте свое резюме за несколько минут,
                не тратя времени на ручное формирование текста.</li>
            <li><strong class="highlight">Профессиональный стиль:</strong> Создавайте резюме, которые выделяются
                своим профессиональным видом и содержанием.</li>
            <li><strong class="highlight">Уникальные резюме:</strong> Получайте уникальные резюме, которые отличаются
                от шаблонных и непримечательных резюме других кандидатов.</li>
            <li><strong class="highlight">Бесплатное использование:</strong> Наш генератор резюме доступен бесплатно,
                чтобы помочь вам экономить время и деньги.</li>
        </ul>
        <h2>Как использовать генератор резюме</h2>
        <ol>
            <li>Опишите свою профессиональную деятельность, опыт и навыки в кратком и ясном виде.</li>
            <li>Вставьте полученный текст в наш генератор резюме.</li>
            <li>Настройте формат и стиль резюме в соответствии с вашими потребностями и предпочтениями.</li>
        </ol>
    </div>
    <div class="col-12 create_button_link">
        <button type="submit" class="btn btn-primary btn_create" onclick="document.location='~/Create_Resume.cshtml'">Перейти к созданию</button>
    </div>
</form>
