<form class="row g-3" action="~/Home/Create_Resume">
    <div class="col-12">
        <h1 class="zagalovki zagalovok1">Онлайн-генератор резюме <font class="gigachat_text">ResumeGen</font> с использованием нейросети</h1>
        <p class="usual-text-fonts text1">
            Создайте свое резюме с помощью нейросети . Наш инновационный инструмент позволит вам автоматически
            создавать убедительные и профессиональные резюме, используя алгоритмы машинного обучения.</p>
        <h2 class="zagalovki zagalovok2">Как это работает?</h2>
        <p class="usual-text-fonts text2">
            Наш генератор резюме использует глубокие нейронные сети, такие как модель GPT (Generative Pre-trained Transformer), для анализа больших объемов
            данных резюме из интернета. Он изучает структуру и стиль эффективных резюме, чтобы создавать новые, уникальные и профессиональные резюме,
                имитирующие стиль и содержание лучших образцов.
        </p>
        <h2 class="zagalovki zagalovok3">Преимущества использования нашего генератора резюме</h2>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button usual-text-fonts" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Быстрое создание резюме
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body usual-text-fonts">
                        Создайте свое резюме за несколько минут, не тратя времени на ручное формирование текста.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed usual-text-fonts" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Профессиональный стиль
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse usual-text-fonts" data-bs-parent="#accordionExample">
                    <div class="accordion-body usual-text-fonts">
                        Создавайте резюме, которые выделяются своим профессиональным видом и содержанием.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed usual-text-fonts" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Уникальные резюме
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body usual-text-fonts">
                        Получайте уникальные резюме, которые отличаются от шаблонных и непримечательных резюме других кандидатов.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed usual-text-fonts" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Бесплатное использование
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body usual-text-fonts">
                        Наш генератор резюме доступен бесплатно, чтобы помочь вам экономить время и деньги.
                    </div>
                </div>
            </div>
        </div>
        <h2 class="zagalovki zagalovok4">Как использовать генератор резюме</h2>
        <ol class="text4">
            <li class="usual-text-fonts">Опишите свою профессиональную деятельность, опыт и навыки в кратком и ясном виде.</li>
            <li class="usual-text-fonts">Вставьте полученный текст в наш генератор резюме.</li>
            <li class="usual-text-fonts">Настройте формат и стиль резюме в соответствии с вашими потребностями и предпочтениями.</li>
            <li class="usual-text-fonts">Настройте формат и стиль резюме в соответствии с вашими потребностями и предпочтениями.</li>
        </ol>
    </div>
    <div class="col-12 create_button_link">
        <button type="submit" class="btn btn-primary btn_create" onclick="document.location='~/Create_Resume.cshtml'">Перейти к созданию</button>
    </div>
</form>
