<form class="row g-3" action="~/Home/Create_Resume/">
    <div class="input-group">
        <span class="input-group-text">Имя и фамилия</span>
        <input type="text" aria-label="First name" class="form-control" name="username">
        <input type="text" aria-label="Last name" class="form-control" name="usersurname">
    </div>
    <div class="form-group">
        <label for="inputDate">Дата рождения:</label>
        <div class="form_date">
            <input type="date" class="form-control" name="user_birthday">
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name="hide_date">
            <label class="form-check-label" for="flexCheckDefault">Скрыть дату</label>
        </div>
    </div>
    <div class="col-12">
        <label for="inputAddress2" class="form-label">Address 2</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" name="user_city">
    </div>
    <div class="col-md-6">
        <label for="inputCity" class="form-label">City</label>
        <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="col-md-4">
        <label for="inputState" class="form-label">State</label>
        <select id="inputState" class="form-select">
            <option selected>Choose...</option>
            <option>...</option>
        </select>
    </div>
    <div class="col-md-2">
        <label for="inputZip" class="form-label">Zip</label>
        <input type="text" class="form-control" id="inputZip">
    </div>
    <div class="col-12">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
                Check me out
            </label>
        </div>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
</form>
