<div class="login-box">
	<h1 class="vhod-zagalovok zagalovki">Вход</h1>
	<form action="/login" method="post" class="signin-form">
		<div class="textbox-signin-name">
			<input class="form-control" formenctype="text" name="username" placeholder="Логин" required>
		</div>
		<div class="textbox-signin-password">
			<input class="form-control" type="password" name="password" placeholder="Пароль" required>
		</div>
		<input class="btn btn-primary btn-signin" type="submit" value="Войти">
	</form>
</div>